<a href="https://colab.research.google.com/github/leonnmarcoo/CCADMACL_COM232_PROJECT/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preprocessing**

### **Import**

In [363]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast

from sklearn.impute import KNNImputer

import re

from pandas.plotting import scatter_matrix

### **Load the dataset**

In [364]:
df = pd.read_csv("movie_dataset.csv")

### **Understanding the Data**

In [365]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [366]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [367]:
df.nunique()

index                   4803
budget                   436
genres                  1168
homepage                1691
id                      4803
keywords                4219
original_language         37
original_title          4801
overview                4800
popularity              4802
production_companies    3697
production_countries     469
release_date            3280
revenue                 3297
runtime                  156
spoken_languages         544
status                     3
tagline                 3944
title                   4800
vote_average              71
vote_count              1609
cast                    4741
crew                    4776
director                2349
dtype: int64

In [368]:
df['status'].value_counts()

status
Released           4795
Rumored               5
Post Production       3
Name: count, dtype: int64

In [369]:
columns_to_drop = ['index', 'id', 'keywords', 'original_title', 'overview', 'spoken_languages', 'status', 'tagline', 'title', 'crew']
df.drop(columns=columns_to_drop, inplace=True)

In [370]:
df.isnull().sum()

budget                     0
genres                    28
homepage                3091
original_language          0
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
vote_average               0
vote_count                 0
cast                      43
director                  30
dtype: int64

### **Data Cleaning**

In [371]:
df['homepage'] = df['homepage'].notna().astype(int)
df['genres'] = df['genres'].str.split(' ')
df['production_companies'] = df['production_companies'].apply(
    lambda x: ', '.join([d['name'] for d in ast.literal_eval(x)])
)
df['production_countries'] = df['production_countries'].apply(
        lambda x: ', '.join([d['name'] for d in ast.literal_eval(x)])
)
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce').dt.year

def combine_first_last_names(name_string):
    if pd.isna(name_string) or not isinstance(name_string, str):
        return []
    words = name_string.split(' ')
    full_names = []
    i = 0
    while i < len(words):
        # Try to combine two words for a name
        if i + 1 < len(words):
            full_names.append(f"{words[i]} {words[i+1]}")
            i += 2
        else:
            # If only one word remains, treat it as a single-word name
            full_names.append(words[i])
            i += 1
    return full_names

df['cast'] = df['cast'].apply(combine_first_last_names)
df['director'] = df['director'].apply(combine_first_last_names)

In [372]:
df.head()

,budget,genres,homepage,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,vote_average,vote_count,cast,director
0,237000000,"[Action, Adventure, Fantasy, Science, Fiction]",1,en,150.437577,"Ingenious Film Partners, Twentieth Century Fox...","United States of America, United Kingdom",2009.0,2787965087,162.0,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,300000000,"[Adventure, Fantasy, Action]",1,en,139.082615,"Walt Disney Pictures, Jerry Bruckheimer Films,...",United States of America,2007.0,961000000,169.0,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,245000000,"[Action, Adventure, Crime]",1,en,107.376788,"Columbia Pictures, Danjaq, B24","United Kingdom, United States of America",2015.0,880674609,148.0,6.3,4466,"[Daniel Craig, Christoph Waltz, L\u00e9a Seydo...",[Sam Mendes]
3,250000000,"[Action, Crime, Drama, Thriller]",1,en,112.312950,"Legendary Pictures, Warner Bros., DC Entertain...",United States of America,2012.0,1084939099,165.0,7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,260000000,"[Action, Adventure, Science, Fiction]",1,en,43.926995,Walt Disney Pictures,United States of America,2012.0,284139100,132.0,6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [373]:
df['genres'] = df['genres'].apply(lambda x: [g.strip() for g in x] if isinstance(x, list) else [])

df = df.join(
    df['genres']
    .explode()
    .str.get_dummies()
    .groupby(level=0)
    .max()
)

df = df.drop(columns=['genres'])

In [374]:
df['production_companies'] = df['production_companies'].apply(lambda x: [g.strip() for g in x] if isinstance(x, list) else [])

df = df.join(
    df['production_companies']
    .explode()
    .str.get_dummies()
    .groupby(level=0)
    .max()
)

df = df.drop(columns=['production_companies'])

In [375]:
df['production_countries'] = df['production_countries'].apply(lambda x: [g.strip() for g in x] if isinstance(x, list) else [])

df = df.join(
    df['production_countries']
    .explode()
    .str.get_dummies()
    .groupby(level=0)
    .max()
)

df = df.drop(columns=['production_countries'])

In [379]:
df['cast'] = df['cast'].apply(lambda x: [g.strip() for g in x] if isinstance(x, list) else [])

df = df.join(
    df['cast']
    .explode()
    .str.get_dummies()
    .groupby(level=0)
    .max()
    .add_suffix('_cast')
)

df = df.drop(columns=['cast'])

KeyError: 'cast'

In [378]:
df['director'] = df['director'].apply(lambda x: [g.strip() for g in x] if isinstance(x, list) else [])

df = df.join(
    df['director']
    .explode()
    .str.get_dummies()
    .groupby(level=0)
    .max()
    .add_suffix('_director')
)

df = df.drop(columns=['director'])

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()